.height {
	height: 100vh;
}

.menu-fixed {
	overflow: hidden;
	background-color: rgba(36, 33, 53, 1);
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
}

.home {
	margin-top: 50px;
}

.menu-fixed a {
	float: right;
	display: block;
	color: #C3D4EA;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	font-family: Montserrat Alternates;
	font-weight: bold;
}

.menu-fixed a:hover {
	color: #d3e6ff;
	background-color: rgb(60, 55, 87);
}

.menu-fixed img {
	width: 5%;
	padding-left: 30px
}

.home img {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}

.home .main-rect {
	position: absolute;
	background-color: #F8E8E8;
	width: 60%;
	height: 50px;
	right: 0;
	top: 345px;
	z-index: -1;
}

.buttons-div {
	background-color: #F8E8E8;
	width: 600px;
	height: 600px;
	margin-left: 90px;
}

.buttons-div p {
	font-family: Montserrat Alternates;
	font-weight: bold;
	font-size: 25px;
}

.buttons-div label, output {
	font-family: Montserrat Alternates;
	font-weight: bold;
	font-size: 20px;

}

.buttons-div #formula{
	text-align: center;
	font-size: 20px;
}
.buttons-div #choose, #choose1 {
	text-align: center;
}


.blocks {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}

.block{
	display: flex;
	justify-content: flex-end;
}

#saveFractalImage{
	margin-right: 115px;
}

#stepBack{
	margin-right: 10px;
}

.sel, .but{
	display: flex;
	justify-content: center;
		font-family: Montserrat Alternates;
}

#built-but{
	height: 70px;
	width: 130px;
	margin-top: 10px;
}


.fractls {
	margin-top: 50px;
}

.icons{
	border-radius: 5px;
	background-color: #C3D4EA;
/*	float: right;*/
}
.chooseFract{
	margin-left: 200px;
	margin-top: 10px;
}

.buttons-div #label-juliaX{
	margin-left: 180px;
}

#vol{
	display: flex;
	justify-content: center;
}
#sliderValue{
	margin-left: 4px;
	margin-right: 4px;
}

#constForJuliaX, #constForJuliaY{
	width: 50px;
}

#fractalCanvas {
	margin-left: 90px;
	float: left;
}